{% if page.lang == "de" or page.url contains '/de/' %}
    {% assign prefix = '/de/' %}
    {% assign about_label = 'Über uns' %}
    {% assign events_label = 'Veranstaltungen' %}
    {% assign members_label = 'Mitglied werden' %}
    {% assign contacts_label = 'Kontakt' %}
    {% assign other_url = page.url | replace: '/de/', '/' %}
    {% assign other_flag = '🇬🇧' %}
    {% assign other_title = 'English' %}
  {% else %}
    {% assign prefix = '/' %}
    {% assign about_label = 'About us' %}
    {% assign events_label = 'Upcoming Events' %}
    {% assign members_label = 'Join' %}
    {% assign contacts_label = 'Contact' %}
    {% assign other_url = '/de' | append: page.url %}
    {% assign other_flag = '🇩🇪' %}
    {% assign other_title = 'Deutsch' %}
{% endif %}

<a class="site-title" href="{{ prefix | relative_url }}">
    <img class="logo" src="{{ "/assets/images/logo_ics_security_transparent.png" | relative_url }}"
         alt="ICS Security Switzerland Logo">
</a>

<nav class="site-nav">
  <input type="checkbox" id="nav-trigger" class="nav-trigger">
  <label for="nav-trigger">
    <span class="menu-icon">☰</span>
  </label>

  <div class="trigger">
    <a href="{{ prefix }}about/" class="page-link">{{ about_label }}</a>
    <a href="{{ prefix }}events/" class="page-link">{{ events_label }}</a>
    <a href="{{ prefix }}members/"  class="page-link">{{ members_label }}</a>
    <a href="{{ prefix }}contacts/" class="page-link">{{ contacts_label }}</a>

    <!-- language toggle (flag icon) -->
    <a href="{{ other_url }}" class="page-link lang-link" title="{{ other_title }}" >
      <span role="img" aria-label="{{ other_title }}">{{ other_flag }}</span>
    </a>
  </div>
</nav>
